@{
    ViewBag.Title = "О нас";
}
<style>
    img {
        width: 100%;
    }
</style>
<img src="~/Content/images/plane-about.jpg" alt="" class="z-depth-5" />
<p class="grey-text text-lighten-4 z-depth-5" style="padding: 5px; background: #803c42;">Мы самая лучшая авиакомпания</p>

