@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        width: 100%;
    }
    p {
        text-align: justify;
    }
</style>
<img src="~/Content/images/im1.jpg" alt="" class="z-depth-5" />
<p class="grey-text text-lighten-4">Появление нашей Авиакомпании&nbsp;&mdash; одно из&nbsp;самых ожидаемых событий на&nbsp;рынке. Наш бренд&nbsp;&mdash; это знак прорыва, преодоления трудностей. Наша авиакомпания стала правопреемником остановившегося в&nbsp;августе 2014 года из-за санкций Евросоюза &laquo;Добролета&raquo;. Потребовалось всего четыре месяца для перезапуска важнейшего национального проекта&nbsp;&mdash; единственного в&nbsp;Украине лоукостера. Такого в&nbsp;истории гражданской авиации Украины еще не&nbsp;было.</p>

<h5>Первые победы</h5>

<p class="grey-text text-lighten-4">Вместе с&nbsp;вами, нашими пассажирами, мы&nbsp;добились невероятных результатов уже в&nbsp;первые месяцы полетов. В&nbsp;апреле 2015 года наша авиакомпания заняла девятое место в&nbsp;ТОП-10 крупнейших авиакомпаний Украины! Такого показателя мы&nbsp;ожидали только по&nbsp;итогам 2015&nbsp;года!</p>

<p class="grey-text text-lighten-4">Уже на&nbsp;седьмом месяце полетов, 3&nbsp;июня, мы&nbsp;встретили первого миллионного пассажира! А&nbsp;всего три месяца спустя на&nbsp;борт нашего лоукостера поднялся двухмиллионный пассажир. Но&nbsp;самый главный для нас показатель&nbsp;&mdash; это индекс лояльности, который существенно превзошел показатели большинства не&nbsp;только украинских, но&nbsp;и&nbsp;европейских авиакомпаний! По&nbsp;данным исследования международной консалтинговой компании Bain&amp;Company, индекс лояльности составляет 72%! Это значит, что&nbsp;72% наших пассажиров рекомендуют нашу авиакомпанию своим самым близким людям и&nbsp;сами возвращаются на&nbsp;борт.</p>