@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Контакты";
}


<div>
    <h5 class="black-text text-lighten-4" > Как позвонить в колл-центр?</h5>
    <ul class="grey-text text-lighten-4">
        <li>Телефон колл-центра +38 (050) 3199856. </li>
        <li>Для звонков не из Украины: +38 (063) 7156457 (тарифицируется оператором связи как международный звонок).</li>
        <li>График работы колл-центра — круглосуточно, без выходных.</li>
        <li>Соединение с оператором колл-центра возможно при наличии доступа к платным линиям (в большинстве случаев такой доступ отключен для служебных (корпоративных) телефонов).</li>
    </ul>
    <h5 >Куда отправить обращение?</h5>
    <ul class="grey-text text-lighten-4">
        <li>Вы можете направить обращения, вопросы и пожелания, связанные с перевозкой на рейсах авиакомпании «Авиакомпания», в контактный центр по работе с клиентами: feedback@avia.aero.</li>
        <li>Вы можете направить обращения, связанные с аннулированием мест для последующего вынужденного возврата на адрес: vozvrat@avia.aero.</li>
    </ul>
    
    <h5 >Контакты для СМИ</h5>
    <ul class="grey-text text-lighten-4">
        <li>Ярослав Чередник</li>
        <li>Пресс-секретарь авиакомпании «Авиакомпания» 4erednikyar@avia.aero</li>
    </ul>
</div>