@{
    ViewBag.Title = "Информация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        width: 100%;
    }

    p {
        text-align: justify;
    }
</style>
<img src="~/Content/images/im2.jpg" alt="" class="z-depth-5" />
<h5>О&nbsp;тарифах</h5>

<p class="grey-text text-lighten-4">Еще одно достижение нашей авиакомпании&nbsp;&mdash; повышение авиамобильности населения страны. Многие пассажиры впервые в&nbsp;жизни смогли позволить себе путешествие на&nbsp;самолете, ведь стоимость билетов на&nbsp;рейс начинается от&nbsp;999&nbsp;гривен. И&nbsp;это уже с&nbsp;учетом всех такс и&nbsp;сборов. Такие билеты есть на&nbsp;всех рейсах нашего лоукостера!</p>

