
@{
    ViewBag.Title = "Вы прошли регистрацию";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <p class="grey-text text-lighten-4">Вы успешно прошли регистрацию. Теперь вы можете <a href="@Url.Action("Login", "Login")">войти</a> на сайт под своими учетными данными</p>
</div>

